.project_Card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}
.project_Card h4{
    background-color: #222;
    color: #fb3;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}
.project_Card p{
    
    color: #7a7a7a;
    
    margin-bottom: 1em;
    
}
.project_Card span{
    font-weight: bold   ;
}
.category_text{
    display: flex;
    align-items: center;
}

.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.category_text .Jogos{
    background-color: #FFAEBC;
}
.category_text .Desenvolvimento{
    background-color: #A0e7e5;
}
.category_text .Design{
    background-color: #b4f8c8
}
.category_text .Planejamento{
    background-color: #Fbe7c6;
}
.project_Card_actions{
    margin-top: 1.2em;
    display: flex;
    align-content: center;
}

.project_Card_actions a,
.project_Card_actions button{
    text-decoration: none;
    border: none;
    color: #222;
    background-color: #ecbebe;
    font-size: 0.9em;
    padding: .6em 1em;
    cursor: pointer;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.project_Card_actions svg{
    margin-right: 0.5em;

}
.project_Card_actions a:hover,.project_Card_actions button:hover{
    background-color: #222;
    color: #ffbb33;
        
}